<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <router-outlet></router-outlet>
<div class="container">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  
      <header class="navbar sticky-top  flex-md-nowrap p-0 shadow">
    
        <!-- <input class="form-control w-100" type="text" placeholder="Search" aria-label="Search"> -->
          <select class="form-select" >
              <option></option>
              <option value="abierta">Abierta</option>
              <option value="en proceso">En proceso</option>
              <option value="cerrada">Cerrada</option>
          </select>
        </header>
    </div>
    <a class="btn btn-primary btn-lg" routerLink="/issues/add">Añadir incidencia</a>
  <table class="table table-striped">
    @for (issue of issues; track $index) {
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar/Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{issue._id}}</th>
            <td>{{issue.title}}</td>
            <td>{{issue.status}}</td>
            <td>
              <i class="bi bi-pencil mx-2">{{issue._id}}</i>
              <i class="bi bi-trash">{{issue._id}}</i>
          </tr>
        </tbody>
      }
    </table>
</div>
</main>
