<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  
      <header class="navbar sticky-top  flex-md-nowrap p-0 shadow">
    
          <input class="form-control w-100" type="text" placeholder="Search" aria-label="Search">
          <select class="form-select" >
              <option></option>
              <option value="abierta">Abierta</option>
              <option value="en proceso">En proceso</option>
              <option value="cerrada">Cerrada</option>
          </select>
    
        </header>
    </div>
  <table class="table table-striped">
      <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar/Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>incidencia 1</td>
            <td>Abierta</td>
            <td>
              <i class="bi bi-pencil mx-2"></i>
              <i class="bi bi-trash"></i>
          </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>incidencia 2</td>
            <td>Cerrada</td>
            <td>
              <i class="bi bi-pencil mx-2"></i>
              <i class="bi bi-trash"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>incidencia 3</td>
            <td>En proceso</td>
            <td>
              <i class="bi bi-pencil mx-2"></i>
              <i class="bi bi-trash"></i>
            </td>
          </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-lg" routerLink="/add">Añadir incidencia</a>
</div>
</main>
