<div class="container-fluid">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="../assets/logoIssues2.jpeg" alt="" width="200" height="200">
          <h1 class="display-5 fw-bold">Jacarandá Helpdesk</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Bienvenidos al sistema gestor de incidencias del IES Jacaránda. Aquí podrás crear las incidencias que encuentres en las aulas y serán atendidas por el equipo correspondiente.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/issues">Ver incidencias</button>
              <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/issues/add">Añadir incidencia</button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>