<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
          <ul class="nav flex-column">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                      Inicio
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      Ver incidencias
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      Añadir incidencia
                  </a>
              </li>
          </ul>
      </div>
  </nav>
  
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="../assets/logoIssues2.jpeg" alt="" width="200" height="200">
        <h1 class="display-5 fw-bold">Jacarandá Helpdesk</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Bienvenidos al sistema gestor de incidencias del IES Jacaránda. Aquí podrás crear las incidencias que encuentres en las aulas y serán atendidas por el equipo correspondiente.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Ver incidencias</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Añadir incidencia</button>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>